body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    max-width: 900px;
    margin: auto;
}

.wh {
    color: #fff;
}

.up_case {
    text-transform: uppercase;
}

.l-height {
    font-size: 20px;
    line-height: 28px;
}

 .middle_line_left {
     width: 150px;
     position: absolute;
     top: 370px;
     left: 35%;
     border-bottom: 5px solid #fff;
}

.middle_line_right {
    width: 150px;
    position: absolute;
    top: 370px;
    margin-left: 54%;    
    border-bottom: 5px solid #fff;
}

.star {
    font-size: 40px;
}


/* HEADER TOP -------------------------- */

.header_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: #2C3E50;
    z-index: 1;
}

.mini_menu {
    float: right;
    position: relative;
}

.mini_menu li {
    display: inline-block;
    list-style: none;
    padding: 0 15px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
}

.text-menu {
    color: #fff;
    line-height: 70px;
    font-size: 22px;
    text-transform: uppercase;
}

.inline-bl {
    display: inline-block;
}

.txt-cntr {
    text-align: center;
}

h_icon {
    float: right;
}

/* JUMBOTRON -------------------------- */

.jumbotron {
    height: 550px;
    margin-top: 70px;
    text-align: center;
    position: relative;
}

.bg_green {
    width: 100%;
    height: 100%;
    margin-top: 0;
    background-color: #1ABC9C;
}

#avatar {
    margin-top: 50px;
    height: 200px;
}

.bold {
    font-weight: bold;
}

short_line {
    width: 200px;
    color: #2C3E50;
    vertical-align: middle;
}

.a_over {
    text-decoration: none;
    color: #fff;
}

.a_over:hover {
    color: #1ABC9C;
    text-decoration: none;
}

/* SECTION 'PORTFOLIO' ---------------- */

#portfolio {
    margin-top: 80px;
}

.box_img {
    height: 220px;
    margin-bottom: 40px;
    border-radius: 10%;
}

.box_img img {
    width: 100%;
    height: 100%;
    background-color: aqua;
    opacity: 0.9;
}

.portfolio-h2 {
    text-align: center;
    font-size: 46px;
    color: #2C3E50;
}

.about-box {
    height: 580px;
    background-color: #1ABC9C;
}

.box_centered {
    margin-top: 50px;
    text-align: justify;
}

.about-h2 {
    text-align: center;
    font-size: 46px;
    margin-top: 70px;
} 

#download {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 45px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

footer {
    position: relative;
    min-height: 350px;
    background-color: #2C3E50;  
}

.footer::after {
    content: "";
    display: block;
    clear: both;
}

footer p {
    margin-top: 30px;
    font-size: 20px;
}

.foot_txt {
    margin-top: 60px;
}

.foot_txt::after {
    content: "";
    display: block;
    clear: both;
}

.social {
    margin-top: 20px;
    margin-left: -35px;
}

.social li {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin: 0 3px;
}

.social_icon {
    padding: 15px;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 100%;
}

.copyright { 
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #1A252F;
}

.copyright h6 {
    line-height: 50px;
}


/* IMG-BOXES ON MOUSE OVER */

.box_img:hover {
    z-index: 1;
    opacity: 0.3;
}

.hidden_icon_box {
    position: absolute;
    top: 0;
    left: 0;
    /*display: none;*/
}

.hidden_icon_box:hover {
    display: block;
}

.hidden_icon {
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
}

.hidden_icon:hover {
    display: block;
}

.pos_rel {
    position: relative;
}

.pos_abs {
    position: absolute;
    top: 0;
    left: 0;
}