body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    max-width: 900px;
    margin: auto;
}

.wh {
    color: #fff;
}

.up_case {
    text-transform: uppercase;
}

/* HEADER TOP -------------------------- */

.header_top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background-color: #2C3E50;
    z-index: 1;
}

.mini_menu {
    float: right;
    position: relative;
}

.mini_menu li {
    display: inline-block;
    list-style: none;
    padding: 0 15px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
}

.text-menu {
    color: #fff;
    line-height: 70px;
    font-size: 22px;
    text-transform: uppercase;
}

.inline-bl {
    display: inline-block;
}

.txt-cntr {
    text-align: center;
}

h_icon {
    float: right;
}

/* JUMBOTRON -------------------------- */

.jumbotron {
    height: 550px;
    margin-top: 70px;
    text-align: center;
    position: relative;
}

.bg_green {
    width: 100%;
    height: 100%;
    margin-top: 0;
    background-color: #1ABC9C;
}

#avatar {
    height: 200px;
}

.bold {
    font-weight: bold;
}

short_line {
    width: 200px;
    color: #2C3E50;
    vertical-align: middle;
}

.a_over {
    text-decoration: none;
    color: #fff;
}

.a_over:hover {
    color: #1ABC9C;
    text-decoration: none;
}

/* SECTION 'PORTFOLIO' ---------------- */

#portfolio {
    margin-top: 80px;
}

.box_img {
    height: 220px;
    margin-bottom: 40px;
    border-radius: 10%;
}

.box_img img {
    width: 100%;
    height: 100%;
    background-color: aqua;
    opacity: 0.9;
}

.title-h2 {
    text-align: center;
    font-size: 36px;
    color: #2C3E50;
}

.about-box {
    height: 300px;
    background-color: #1ABC9C;
}

.about-h2 {
    text-align: center;
} 

#download {
    padding: 5px 15px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

footer {
    position: relative;
    min-height: 350px;
    background-color: #2C3E50;  
}

.footer::after {
    content: "";
    display: block;
    clear: both;
}

footer p {
    margin-top: 30px;
    font-size: 20px;
}

.foot_txt {
    margin-top: 60px;
}

.foot_txt::after {
    content: "";
    display: block;
    clear: both;
}

.copyright { 
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #1A252F;
}

.copyright h6 {
    line-height: 50px;
}


/* IMG-BOXES ON MOUSE OVER */

.box_img:hover {
    z-index: 1;
    opacity: 0.3;
}

.hidden_icon_box {
    position: absolute;
    top: 0;
    left: 0;
    /*display: none;*/
}

.hidden_icon_box:hover {
    display: block;
}

.hidden_icon {
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
}

.hidden_icon:hover {
    display: block;
}
